<style>table {
    width: 100%;
    border-collapse: collapse;
}

#thead {
    background-color: var(--head, beige);
}

th {
    text-transform: capitalize;
}

td,
th {
    border: solid gray 1px;
    padding: 2px;
}

tr:nth-child(odd) {
    background-color: var(--alternate, lightsteelblue);
}

caption {
    color: blue;
    font-size: 1.1em;
}

td.text {
    text-align: left;
    padding-left: 10px;
}

th.hidden,
td.hidden {
    display: none;
}

td.number {
    text-align: right;
    color: blue;
    padding-right: 10px;
}

th button {
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
}

tr.selected {
    box-shadow: inset 0 0 5px green;
}

table.error thead tr {
    box-shadow: inset 0 0 10px red, 0 0 0 orange;
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    100% {
        box-shadow: inset 0 0 2px black, 0 0 6px red;
    }
}