#controll {}

#processor {}

#registers {}

#alu {}

#memory {}

#input {}

#output {}

.firkant {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: lightslategray;
}