article>h1 {
    color: bisque;
}

article h1 {
    color: lightslategray;
}

img {
    width: 200px;
    height: 200px;
}

#Intel {
    width: 400px;
}

td,
th,
table {
    border: solid grey 1px;
    padding: 4px;
    margin: 1em;
}

tbody tr:nth-child(odd) {
    background-color: burlywood;
}

thead {
    background-color: peru;
}

body {
    background-color: lightyellow;
}