header {
    margin-top: 1em;
    padding-top: 1em;
}

h1 {
    color: lightskyblue;
    padding: 0.5em;
}

h2 {
    color: lightpink;
    padding: 3px
}

article {
    min-height: 50vh;
    border: solid lightpink 1px;
    margin: 1em;
}

#bilder {
    display: flex; 
    padding: 1em;
}

img {
    height: 200px;
}

#pic {
    display: flex;
    padding: 1em;
}

#picture {
    display: flex;
    padding: 1em;
}

h4 {
    left: 50px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1em;
}

h5 {
    left: 50px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1em;
}
